.taskBody {
  padding: 10px 15px;
  margin-bottom: 20px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 5px;
  text-align: left;
  display: flex;
  align-items: center;
  position: relative;

  .checkBox {
    transform: scale(1.5);
    cursor: pointer;
  }

  & input {
    margin-right: 20px;
  }

  .title {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .icons {
    color: #fff;
    font-size: 20px;

    .icon {
      transition: .3s;

      &:hover {
        cursor: pointer;
        transform: translateX(5px);
      }
    }
  }

  .taskInfo {
    display: flex;
    flex-direction: column;
    width: 100%;

    .taskProperties {
      display: flex;
      align-items: center;

      & > :not(:last-child) {
        margin-right: 10px;
      }

      .priority {
        display: flex;
        align-items: center;
      }

      .addedDate {
        display: flex;
        align-items: center;
        color: #fff;

        & span {
          margin-left: 8px;
          font-size: 14px;
        }
      }

      .deadline {
        display: flex;
        align-items: center;
        color: #42ed50;

        span {
          margin-left: 8px;
          font-size: 14px;
        }
      }

      .isEndTime {
        color: #ff2600;
        font-weight: 600;
      }
    }
  }
}

.isActive {
  background: rgba(32, 136, 176, 0.4);
}

.completed {
  font-size: 24px;
  color: #20df7f;
  position: absolute;
  right: -40px;
  top: 50%;
  transform: translateY(-50%);
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

